<a
    href="#newsletter-subscribers/list"
    id="nav-newsletter-subscribers"
    data-url="{{ path('open_orchestra_api_newsletter_subscribers_list') }}"
    data-displayed-elements="email, last_name, first_name, job, company"
    data-visible-elements="email, last_name, first_name, job, company"
    data-translated-header="{{'open_orchestra_backoffice.table.newsletter_subscribers.email'|trans }}, {{'open_orchestra_backoffice.table.newsletter_subscribers.lastname'|trans }}, {{'open_orchestra_backoffice.table.newsletter_subscribers.firstname'|trans }}, {{'open_orchestra_backoffice.table.newsletter_subscribers.company'|trans }}, {{'open_orchestra_backoffice.table.newsletter_subscribers.job'|trans }}"
    title="{{ 'open_orchestra_backoffice.left_menu.administration.newsletter_subscribers.list'|trans }}"
>
    {{ 'open_orchestra_backoffice.left_menu.administration.newsletter_subscribers.list'|trans }}
</a>
